<h2 class="ui center aligned icon header">
  <i class="circular blue coffee icon"></i>
  Say something
</h2>
<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="ui fluid raised card">
      <div class="content chatbox">
        <div class="ui small feed">
          <h4 class="ui header">Followers Activity</h4>
          <div class="event">
            <div class="content">
              <div class="summary">
                Elliot Fu added Jenny Hes as a friend
              </div>
            </div>
          </div>
          <div class="event">
            <div class="content">
              <div class="summary">
                Elliot Fu added Jenny Hes as a friend
              </div>
            </div>
          </div>
          <div class="event">
            <div class="content">
              <div class="summary">
                Elliot Fu added Jenny Hes as a friend
              </div>
            </div>
          </div>
          <div class="event">
            <div class="content">
              <div class="summary">
                Elliot Fu added Jenny Hes as a friend
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="extra content">
        <form class="ui reply form">
          <div class="field">
            <div class="ui fluid icon input">
              <input type="text" placeholder="Enter a message...">
              <i class="bordered inverted blue edit icon"></i>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="four wide column">
    <div class="ui fluid raised card">
      <div class="content chatbox">
        <div class="ui inverted vertical menu">
          <a href="" class="item">Home</a>
          <a href="" class="item">Messages</a>
          <a href="" class="item">Friends</a>
        </div>
      </div>
    </div>
  </div>
</div>
